annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
attackcti==0.5.4
certifi==2025.8.3
charset-normalizer==3.4.2
idna==3.10
numpy==2.3.2
pandas==2.3.1
pydantic==2.11.7
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
simplejson==3.20.1
six==1.17.0
stix2==3.0.1
stix2-patterns==2.0.0
taxii2-client==2.3.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
